<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="ext-user"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.extuser.entity.ExtUser</class>
        <class>com.company.extuser.entity.Department</class>
    </persistence-unit>
</persistence>
